p{color:red;
}
span{
	color:black;
	font-weight:bold;
	text-decoration:underline;
	text-shadow:1px 1px blue;
}
span:hover{
		background-color:pink;
		cursor: pointer;
		
}
.cyan{
	color:cyan;
}
#yellow{
	color:purple;
}
.bold{
	font-weight:bold;
	text-decoration:underline;
}
.italic{font-style:italic;
}
	